
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.row{
    z-index: 2;
}

.header-footer{
    background-color: rgb(52, 8, 109);
}

.nombreDisp{
    font-size: 25px;
    color: rgb(161, 48, 48);
}

.btn-edit-device:hover{
  background-color: rgba(38, 128, 207, 0.877);
}

.btn-delete-device:hover{
  background-color: #ff3527ce;
}
.btn-confirmar:hover{
  background: rgba(9, 161, 9, 0.753);
}
.btn-cancelar:hover{
  background: rgba(184, 16, 16, 0.685);
}
 /* Modal */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 25%;
    width: 20%; 
    height: auto; 
  }

  .modal-delete-device{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 25%;
    width: 25%; 
    height: auto; 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 0% auto; /* 15% from the top and centered */
    padding: 5px;
    height: 80%;
    width: 100%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 